.container {
  height: 95vh;
  width: 95vh;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  border: 2px solid black;
}

@media screen and (max-width: 770px) {
  .container {
    height: 85vh;
    width: 85vw;
  }
}

@media screen and (max-width: 600px) {
  .container {
    height: 75vh;
    width: 98vw;
  }
}
